/*.card-view {*/
/*    position: relative;*/
/*    height: 216px;*/
/*    width: 340px;*/
/*    margin: auto;*/
/*    border-radius: 25px;*/
/*    background-color: #000000;*/
/*    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);*/
/*    !*background-color: #ee9617;*!*/
/*    !*background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);*!*/
/*    backdrop-filter: blur(30px);  !* This will produce the blur *!*/
/*    border: 1px solid rgb(14, 14, 14);*/
/*    box-shadow: 0 0 20px rgba(0, 0, 0, .5);*/
/*    overflow: hidden;*/
/*}*/

.card-view {
    position: relative;
    flex-shrink: 0;
    width: 320px;
    height: 216px;
    margin-right: 12px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

    /*background-color: #000000;*/
    /*background-image: linear-gradient(147deg, #000000 0%, #434343 74%);*/
}

.card-view-logo img,
.card-view-chip img,
.card-view-number,
.card-view-name,
.card-view-expiry,
.card-view-button,
.card-view-loading,
.card-view-cvv,
.card-view-ring {
    position: absolute; /* All items inside card should have absolute position */
}

.card-view-button {
    right: 0.5em;
    bottom: 0.5em;
    width: 32px;
    height: 32px;
}

.card-view-loading{
    margin: auto;
    left: 45%;
    top: 40%;
}

.card-view-logo img {
    top: 16px;
    right: 16px;
    width: 50px;
    opacity: 1;
}

.card-view-chip img {
    top: 80px;
    left: 40px;
    width: 40px;
    height: auto;
    opacity: 0.8;
}

.card-view-number,
.card-view-name,
.card-view-expiry,
.card-view-cvv {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    font-family: "Nunito", sans-serif;
}

.card-view-number {
    left: 2rem;
    bottom: 3rem;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}

.card-view-name {
    font-size: 1rem;
    left: 2rem;
    top: 2rem;
}

.card-view-cvv {
    font-size: 0.8rem;
    left: 5rem;
    bottom: 1.5rem;
}

.card-view-expiry {
    font-size: 0.8rem;
    left: 2rem;
    bottom: 1.5rem;
}

.card-view-ring {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: transparent;
    border: 50px solid #ff4b00;
    bottom: -250px;
    filter: blur(30px);
    opacity: 1;
    right: -300px;
    box-sizing: border-box;
}

.card-view-ring::after {
    content: "";
    position: absolute;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: transparent;
    border: 20px solid rgb(255, 0, 0);
    bottom: -80px;
    right: -110px;
    box-sizing: border-box;
}